/* class -> .text-red {}
   id-> #id-bilgisi{}
 */

ul>li:first-child {
    color:green
}
ul>li:last-child {
    color:aqua
}
 .color-blue.fw-inherit {
    color: blue;
    font-weight:inherit ;
}

.text-red{color:red;}

.fs-16{
    font-size: 16px;
}
.fs-25{
    font-size: 25px;
}
.fs-35{
    font-size: 35px;
}

#first-article {
    color: green;
    font-size: 30px;
}

h1,h2,h3,h4{
    color: #fc51e8
   
}